
<div class="infos">
  
<div class="container d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="text-container">
        <h4 >What is</h4>
        <h1>GET OFF THE MATRIX</h1>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center rounded-custom">
      <div class="rounded-custom">
        <img src="assets\images\_DSC0024.png" class="image-fluid">
      </div>
    </div>
  </div>
</div>
  
<div class="container d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center justify-content-center rounded-custom">
      <div class="rounded-custom">
        <img src="assets\images\_DSC0024.png" class="image-fluid rounded-custom">
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center ">
      <div class="text-container">
        <h1 style="text-align: center;">Creativity and Competitivity</h1>
        <br>
        <br>
        <h4 style="text-align: justify;">Get Off The Matrix is an e-sport club 
          founded in 2021 as an affiliate club of 
         Game Zone, in 2023 the club decided to 
         work independently and focus on different 
         objectives. 
         As of 2023, Get Off The Matrix hopes to 
         elevate competitive e-sports in Tunisia, 
         aiming to find more hidden talents and 
         showcase them to the public. 
         Founded and currently led by Wiem Ben 
         Yahya , GOT'M is situated in Borj Cedreia, 
         Soliman, and has 17 members and 2 
         e-sport teams. </h4>
      </div>
    </div>
  </div>
</div>
      
</div>