
@font-face {
  font-family: 'Poppins-BlackItalic';
  src: url('../../../../../assets/fonts/Poppins-BlackItalic.ttf');
}
.container{
  margin-bottom: 80px;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #E8E8E8;
  align-items: center;
 
}
.row {
  align-items: center;
  flex-wrap: nowrap;

}

.col-md-6 {
  padding: 0;
  position: relative;
box-sizing:border-box;
max-height: 500px;
max-width: 500px;
min-width: 100px;
min-height: 100px;
  overflow: hidden;
  margin: 40px;
  
}
h1{
  font-weight:bolder; 
  font-family: "Poppins-BlackItalic", sans-serif;
}
h4{
  font-family: 'Poppins', medium;
  font-size: 25; 
  color: #e8e8e8da;
}
.text-container {
  border-radius: 28px;
  position:sticky;
  text-align: justify;
  align-items: center;
}
 .text-container h4 {
  text-align: center;
 }

  /* justify-content: space-between;
  overflow-wrap: break-word; */



.rounded-custom {
  border-radius: 28px;
  
}