<section>
  <div class="form-box">
    <div class="form-value">
      <form #f="ngForm" (ngSubmit)="add(f)">
        <h2>Sign Up</h2>

        <div class="inputbox">
          <input type="text" required [(ngModel)]="username" name="username" minlength="7">
          <label for="">Username</label>
        </div>
        <p *ngIf="f.controls['username'].invalid && (f.controls['username'].dirty || f.controls['username'].touched)">Username is required</p>

        <div class="inputbox">
          <input type="email" required [(ngModel)]="email" name="email">
          <label for="">Email</label>
        </div>

        <p *ngIf="f.controls['email'].invalid && (f.controls['email'].dirty || f.controls['email'].touched)">Email is required</p>

        <div class="inputbox">
          <input type="text" required [(ngModel)]="discordTag" name="discordTag">
          <label for="">Discord Tag</label>
        </div>

        <p *ngIf="f.controls['discordTag'].invalid && (f.controls['discordTag'].dirty || f.controls['discordTag'].touched)">discordTag is required</p>

        <div class="inputbox">
          <input type="password" required [(ngModel)]="password" name="password">
          <label for="">Password</label>
        </div>

        <div class="inputbox">
          <input type="password" required [(ngModel)]="confirmPassword" name="confirmPassword">
          <label for="">Confirm Password</label>
        </div>

        <div class="forget">
          <label for="">
            <input type="checkbox" name="rememberMe">
            Remember Me
            <a href="#">Forget Password</a>
          </label>
        </div>

        <button type="submit">Sign up</button>

        <div class="register">
          <p>Already have an account? <a routerLink="/signIn">Sign in</a></p>
        </div>
      </form>
    </div>
  </div>
</section>
