

<div class="main">
  <app-nav-bar-user></app-nav-bar-user>


    <div class="overlay1">
      <div class="profile-media">
       <!-- <div class="profile-pic">
          <img src="../../../assets/images/profilelogo.png" alt="" id="profile-pic">
        </div>-->
        <div class="rank">
          <img src="../../../assets/images/rank4Deciple.svg" alt="" id="rank">
        </div>
        
      </div>
      <p>Designer</p>
    </div>


  


  

  <div class="container">
  


  
   <div class="content">
    

 

     
        


    <div class="rightSide">
      <div class="info">
        <div class="actives">
          <div class="block1"> 
            <div class="upcomingMeeting">
              <h3>Upcoming Meetings</h3>
              <ul>
                <li>events 1</li>
                <li>event 2</li>
                <li>blabla</li>
              </ul>
            </div>
            <div class="activePerks">
              <h3>Active Perks</h3>
              <ul>
                <li>perk 1</li>
                <li>perk 2</li>
                <li>perkss</li>
              </ul>
            </div>
          </div>
          
          <div class="todo">
            <h3>To Do</h3>
            <form action="">
              <div class="todocheck">
                <label class="checkBox">
                  <input type="checkbox" name="" id=""> 
                  <div class="transition"></div>
                  
                </label>
                <p> todo</p> 
              </div>
  

            </form>
          </div>
        </div>
        
        <div class="progressBar">
          <div class="progress-container">
            <div class="progress" id="progress"></div>
            <div class="circle active">25%</div>
            <div class="circle">50%</div>
            <div class="circle">75%</div>
            <div class="circle">100%</div>
          </div>
        </div>
      </div>
      
    </div>
    
  
  </div>
  <router-outlet>

  </router-outlet>
</div>