<section>
  <div class="form-box">
    <div class="form-value">
      <form action="">
        <h2>Sign Up</h2>
        <div class="inputbox">
          <input type="text" required>
          <label for="">Username</label>
        </div>
        <div class="inputbox">
          <input type="text" required>
          <label for="">Discord Tag</label>
        </div>
        <div class="inputbox">
          <input type="email" required>
          <label for="">Email</label>
        </div>
        <div class="inputbox">
          <input type="password" required>
          <label for="">Password</label>
        </div>
        <div class="inputbox">
          <input type="password" required>
          <label for="">Confirm Password</label>
        </div>
        <button>Sign Up</button>
        <div class="register">
          <p>Already have an account? <a href="#">Login</a></p>
        </div>
      </form>
    </div>
  </div>
</section>
