@font-face {
  font-family: "Poppins-BlackItalic";
  src: url("assets/fonts/Poppins-BlackItalic.ttf") format("ttf")
}

html, body{
  background-image: url('assets/backgroungImage/background.png');
  font-family: 'Poppins', sans-serif;
  height:100%;
  margin: 0;
}

