<div class="container">

  <div class="first-half">
    <div class="logo">
      <!--*****************************logo*****************************************-->
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="126.978" height="67.64" viewBox="0 0 126.978 67.64">
        <defs>
          <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="red"/>
            <stop offset="0.268" stop-color="#f08"/>
            <stop offset="0.544" stop-color="#b400ff"/>
            <stop offset="1" stop-color="#002cff"/>
          </linearGradient>
          <linearGradient id="linear-gradient-2" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="#140cf0"/>
            <stop offset="0.602" stop-color="#0fe"/>
            <stop offset="0.766" stop-color="#0f2"/>
            <stop offset="1" stop-color="#f7ff00"/>
          </linearGradient>
        </defs>
        <g id="Groupe_1" data-name="Groupe 1" transform="translate(-135.022 -45.18)">
          <g id="Rectangle_2" data-name="Rectangle 2" transform="translate(140 51)" stroke="#707070" stroke-width="1" fill="url(#linear-gradient)">
            <rect width="25" height="56" rx="12.5" stroke="none"/>
            <rect x="0.5" y="0.5" width="24" height="55" rx="12" fill="none"/>
          </g>
          <g id="Rectangle_3" data-name="Rectangle 3" transform="translate(175 51)" stroke="#707070" stroke-width="1" fill="url(#linear-gradient-2)">
            <rect width="25" height="56" rx="12.5" stroke="none"/>
            <rect x="0.5" y="0.5" width="24" height="55" rx="12" fill="none"/>
          </g>
          <g id="Rectangle_4" data-name="Rectangle 4" transform="translate(187.95 45.18) rotate(47)" fill="#fff" stroke="#707070" stroke-width="1">
            <rect width="25" height="72.37" rx="12.5" stroke="none"/>
            <rect x="0.5" y="0.5" width="24" height="71.37" rx="12" fill="none"/>
          </g>
          <g id="Ellipse_1" data-name="Ellipse 1" transform="translate(205 51)" fill="#fff" stroke="#707070" stroke-width="1">
            <ellipse cx="28.5" cy="28" rx="28.5" ry="28" stroke="none"/>
            <ellipse cx="28.5" cy="28" rx="28" ry="27.5" fill="none"/>
          </g>
        </g>
      </svg>
      <!--*****************************logo*****************************************-->
    </div>
  
    <div class="search-bar">
      <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="42.872" height="40.062" viewBox="0 0 42.872 40.062">
        <g id="Layer_1" data-name="Layer 1" transform="translate(0 0)" opacity="0.78">
          <circle id="Ellipse_3" data-name="Ellipse 3" cx="15.065" cy="15.065" r="15.065" transform="translate(0 0)" fill="#afafaf"/>
          <rect id="Rectangle_7" data-name="Rectangle 7" width="16.845" height="7.349" rx="3.675" transform="translate(30.446 23.267) rotate(42.47)" fill="#afafaf"/>
        </g>
      </svg>
      </button>
      <input type="text" name="" id="" placeholder="Search site">
    </div>
  </div>
  

  <div class="buttons">
    <button class="signin"> <a routerLink="/signIn">Sign In</a> </button>
    <button class="signup"> <a routerLink="/signUp">Sign Up</a> </button>
  </div>
 

</div>