.container{
  width: 100%;
  background: rgba(red, green, blue, 0.2);
  /* border: 1px black solid; */
  display: flex;
  justify-content: space-between;
  
}
.first-half{
  width: 100%;
  max-width: 1000px;
  background: rgba(red, green, blue, 0.2);
  /* border: 1px black solid; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  padding: 15px;
}

.search-bar{
  width: 100%;
  max-width: 600px;
  height: 68px;
  background: #272727;
  /* rgba(255, 255, 255, 0.2) */
  /* border: 1px black solid; */
  border-radius: 34px;
  padding: 0px 15px;
  display: flex;
  align-items: center;

}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  /* padding: 10px 15px; */
  font-size: 20px;
  color: #cac7ff;

}

::placeholder{
  color: #AFAFAF;
}

.search-bar button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.buttons{
  width: 100%;
  max-width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.signin{
  background: transparent;
  border: 0;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.signin a {
  color: #E9E9E9;
}

.signup{
  width: 100%;
  width: 122px;
  height: 68px;
  text-align: center;
  border-radius: 34px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  font-weight: 600;
  margin: 0;
}

.signup a {
  color: #2E2E2E;
}


body {
  padding: 10px;
  height: 50px;
  background-color: gray;
}

a{
  text-decoration: none;
}

a:visited {
  color: inherit;
}