<div class="container">
    <div class="row">
      <div class="col-md-8   ">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>SNS Link</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td> <input type="checkbox" name="" id=""></td>
                    <td></td>
                    <td> nn</td>
                  </tr>
                </tbody>
              </table>
        </div>

    </div>
    
  
      <div class="col-md-4 d-flex align-items-center justify-content-center ">
        <button >Add</button> 
        <button >Delete</button> 
        <button >Modify</button>
    </div>
    </div>
      
  </div>