<app-nav-bar-user></app-nav-bar-user>

<div class="container">
  
 
  <div id="sidebar">
    <div class="toggle-btn" onclick="toggleSidebar(this)">
      <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 101.086 101.086">
        <g id="Ellipse_11" data-name="Ellipse 11" transform="translate(101.086 37) rotate(120)" fill="#e8e8e8" >
          <circle cx="37" cy="37" r="37" stroke="none"/>
          <circle cx="37" cy="37" r="35" fill="none"/>
        </g>
        <path id="Polygone_4" data-name="Polygone 4" d="M11.409,4.442a3,3,0,0,1,5.183,0l8.777,15.046A3,3,0,0,1,22.777,24H5.223a3,3,0,0,1-2.591-4.512Z" transform="translate(56.667 70.533) rotate(-150)" fill="#e8e8e8"/>
      </svg>
      
      
    </div>  
    <div class="list">
      <a routerLink="/admin/dashboard"><div class="item">Dashboard</div></a>
      <a routerLink="/admin/manageMembers"><div class="item">Manage Members</div></a>
      <a routerLink="/admin/manageAssignments"><div class="item">Manage Assignments</div></a>
      <a routerLink="/admin/manageMeetings"><div class="item">Manage Meetings</div></a>
      <a routerLink="/admin/manageEvents"><div class="item">Manage Events</div></a>
      <a routerLink="/admin/manageTeams"><div class="item">Manage Teams</div></a>
      <a routerLink="/admin/managePlayers"><div class="item">Manage Players</div></a>
    </div>
  </div> 
  
  <div class="content">
    <router-outlet></router-outlet>
  
  </div>
  
</div>
