<div class="row">
  <div *ngIf="error">{{error}}</div>
  <div *ngIf="success">{{success}}</div>
</div>
<div class="table-responsive">
  <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Event Title</th>
          <th>Event Period</th>
          <th>Status</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td> <input type="checkbox" name="" value="{{event.idevent}}" id=""></td>
          <td>{{event.eventtitle}}</td>
          <td> {{event.startingdate}} - {{event.startingdate}}</td>
          <td> {{event.startingdate}} </td>
        </tr>
        <tr>
          <td> <input type="checkbox" name="" value="" id=""></td>
          <td>ghfhf</td>
          <td> gfhgf</td>
          <td> gfhfgh </td>
        </tr>
      </tbody>
    </table>
</div>
