
<div class="infos">

  <div class="info">

    <h1>WANT TO JOIN THE COMMUNITY? </h1>

    <div class="align">
      
      
        <h3>Join our Discord server.</h3>
        <a href="https://discord.gg/McCjptsb" target="_blank">
        <button>
          <div class="button-content">
            <img src="../../assets/socials/SVGRepo_iconCarrier.svg" alt="" style="display: block; margin: auto;">
            <span class="test">discord</span>
          </div>
        </button>
      </a>
    </div>
  
  </div>

  <div class="info">
    <h1> <i>WANT TO WORK WITH US?</i>  </h1>
    <div class="align">
      <h3>Sign Up Now</h3>
      <a routerLink="/signUp">
        <button class="info2">
          <div class="button-content">
            <img class="nonHovered" src="../../assets/socials/pennonhovered.svg" alt="" >

            <img class="hovered" src="../../assets/socials/penhovered.svg" alt=""> 
            <span class="test">Sign up</span>
          </div>
        </button>
      </a>
      
    </div>
  </div>
  
</div>