<h1>OPEN EVENTS</h1>
<h3>Events that you register for Right Now!! </h3>

<div class="container">
  <div class="row gy-3 my-3">
    <div class="col-md-3">
      <div class="card">
        <img src="../../../../../assets/images/league.jpg" class="card-img-top" alt="image" routerLink="">
        <div class="card-body">
          <h4 class="card-title" style="font-size:x-large;"><b>VALORANT 1V1</b></h4>
          <p class="card-text">The League of Villains, or the Villain Alliance is a villain organization made up of powerful villains that threaten to destroy the hero society.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 20px;">

<h1>UPCOMING EVENTS</h1>
<h3>Events that will open in the future, you can check their details </h3>

<div class="container">
  <div class="row gy-3 my-3">
    <div class="col-md-3">
      <div class="card">
        <img src="../../../../../assets/images/league.jpg"class="card-img-top" alt="image" routerLink="#">
        <div class="card-body">
          <h4 class="card-title" style="font-size:x-large;"><b>VALORANT 1V1</b></h4>
          <p class="card-text">The League of Villains, or the Villain Alliance is a villain organization made up of powerful villains that threaten to destroy the hero society.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div style="margin-top: 20px;">

  <h1>PREVIOUS EVENTS</h1>
  <h3>Our older events that you can check out!! </h3>

  <div class="container">
    <div class="row gy-3 my-3">
      <div class="col-md-3">
        <div class="card">
          <img src="../../../../../assets/images/league.jpg"class="card-img-top" alt="image" routerLink="#">
          <div class="card-body">
            <h4 class="card-title" style="font-size:x-large;"><b>VALORANT 1V1</b></h4>
            <p class="card-text">The League of Villains, or the Villain Alliance is a villain organization made up of powerful villains that threaten to destroy the hero society.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
