@font-face {
  font-family: 'Poppins-Regular'; /* The name of the font */
  src: url('Poppins/Poppins-Regular.ttf') /* The path to the font file */
}

*{
  font-family: 'Poppins-Regular';
  text-decoration: none;
}

body{
  margin: 0;
  height: 100vh;
  background:linear-gradient(135deg, #9795f0 0%, #fbc8d4 100%);
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.logo{
  width: 200px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#gameZoneLogo{
  width: 20%;
  height: 100%;
}

.main-form{
  background-color: #fff;
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.title{
  padding-left: 15px;
}

.user-details{
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.wrapper{
  padding: 15px;

}

.user-input{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input {
  width: 100%;
  padding: 0.6em 0.3em;
  border: 1px solid #d0d0d0;
  border-radius: 0.3em;
  color: #414a67;
  /* outline:#9795f0; */
  font-weight: 400;
}

select {
  width: 100%;
  padding: 0.6em 0.3em;
  border: 1px solid #d0d0d0;
  border-radius: 0.3em;
  color: #414a67;
  /* outline:#9795f0; */
  font-weight: 400;
  margin: 0;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.submit{
  border: none;
  padding: 0.6em 0.3em;
  font-weight: 400px; 
  width: 220px;
  border-radius: 6px;
  background-image: linear-gradient(to left, #9795f0 0%, #fbc8d4 100%);
  background-size: 200%;
  transition: 0.6s;
  font-size: 16px;
}

.submit:hover{
  background-position: right;
}

.have-account{
  margin: 0;
  font-size: 13px;
}

a{
  font-weight: bold;
  color:  #9795f0;
  transition: 0.6s;
}

a:hover{
  color: #fbc8d4;
}