<nav class="navbar navbar-light ">
    <div class="container" style="margin-top: 25px; align-items: center;">
      <a class="navbar-brand" routerLink="/" style="margin-right: 0px;margin-left: -20px;" >
        <img
          src="assets\images\PNG\Asset 4@3x.png"
          height="40"
          loading="lazy"
        />
      </a>
      <div class="search-bar">
        <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 42 42" style="padding-top: 3px;">
          <g id="Layer_1" data-name="Layer 1" transform="translate(0 0)" opacity="0.78">
            <circle id="Ellipse_3" data-name="Ellipse 3" cx="15.065" cy="15.065" r="15.065" transform="translate(0 0)" fill="#afafaf"/>
            <rect id="Rectangle_7" data-name="Rectangle 7" width="14.845" height="5.349" rx="3.675" transform="translate(30.446 23.267) rotate(42.47)" fill="#afafaf"/>
          </g>
        </svg>
        </button>
        <input type="text" name="" id="" placeholder="Search site">
      </div>
    
  
    <div class="buttons" style="margin-right: -20px;">
      <a routerLink="/sign-in"><button class="signin"> Sign In</button></a> 
      <a routerLink="/sign-up">
        <button class="signup"> Sign Up </button></a>
    </div>
    </div>
    
 
  </nav>
