<section>
  <div class="form-box">
    <div class="form-value">
      <form [formGroup]="signUpForm" (ngSubmit)="add()">
        <h2>Sign Up</h2>

        <div class="inputbox">
          <input type="text" formControlName="username" minlength="7">
          <label for="">Username</label>
        </div>
        <p *ngIf="signUpForm.get('username')?.invalid && (signUpForm.get('username')?.dirty || signUpForm.get('username')?.touched)">Username is required</p>


        <div class="inputbox">
          <input type="email" formControlName="email">
          <label for="">Email</label>
        </div>

        <p *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)">Email is required</p>


        <div class="inputbox">
          <input type="text" formControlName="discordTag">
          <label for="">Discord Tag</label>
        </div>

        <p *ngIf="signUpForm.get('discordTag')?.invalid && (signUpForm.get('discordTag')?.dirty || signUpForm.get('discordTag')?.touched)">Discord Tag is required</p>

        <div class="inputbox">
          <input type="password" formControlName="password">
          <label for="">Password</label>
        </div>

        <div class="inputbox">
          <input type="password" formControlName="confirmPassword">
          <label for="">Confirm Password</label>
        </div>

        <div class="forget">
          <label for="">
            <input type="checkbox" formControlName="rememberMe">
            Remember Me 
          </label>
        </div>

        <button type="submit">Sign up</button>

        <div class="register">
          <p>Already have an account? <a routerLink="/signIn">Sign in</a></p>
        </div>
      </form>
    </div>
  </div>
  <div class="pictures">
    
  </div>
</section>

<a routerLink="/home">Go back home</a>