
/* .container{
  padding: 100px;
  height: 500vh;
  flex: 1;
  /* border: 1px solid black;
  display: flex;
  justify-content: space-around;
  gap: 100px;
} */

ul{
  margin-top: 100px;
  padding: 50px 0px;
  background-color: #272727;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 90px;
  align-items: center;
  border-radius: 46px;
  position: fixed;
  left: 50px;
}

img{
  height: 38px;
  width: 43px;
}
a{
  position: relative;
}
.eventsHovered{
  position: absolute;
  top: 0;
  right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.events{
  opacity: 1;
}


svg:hover {
  animation: obnoxious 900ms infinite linear;
}

path {
  fill: inherit;
}

@keyframes obnoxious {
  0% {
    fill: #FF0000;
  }
  
  15% {
    fill: #FF7F00;
  }
  
  30% {
    fill: #FFFF00;
  }
  
  45% {
    fill: #00FF00;
  }
  
  60% {
    fill: #0000FF;
  }
  
  75% {
    fill: #4B0082;
  }
  100% {
    fill: #8F00FF;
  }
}