<div class="container">
  <div class="tabless">
    <div class="tab1 tab" >
      <p>Active Members</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">name</th>
            <th scope="col">Department</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>6</td>
          </tr>
          
          
        </tbody>
      </table>
    </div>
    <div class="tab2 tab">
      <p>Pending sign-ups</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>hello</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="buttons">
    <ul>
      <li><button>Approve</button></li>
      <li><button>Eliminate</button></li>
      <li><button>Assign Dept</button></li>
      <li><button>Send Warning</button></li>
    </ul>
  </div>
</div>
