<div class="container">
  <div class="tables">
    <div class="col-md-6 tab" >
      <p>Active Members</p>
      <table class="table-responsive ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">name</th>
            <th scope="col">Department</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <select name="Department" id="" disabled="disabled">
                <option value="design"> Design</option>
                <option value="Project Management"> Project Management</option>
                <option value="Human Resources"> Human Resources</option>
                <option value="Sponsoring"> Sponsoring</option>
                <option value="Marketing"> Marketing</option>
                <option value="Networking"> Networking</option>
              </select>
            </td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td><select name="Department" id="" disabled="disabled">
              <option value="design"> Design</option>
              <option value="Project Management"> Project Management</option>
              <option value="Human Resources"> Human Resources</option>
              <option value="Sponsoring"> Sponsoring</option>
              <option value="Marketing"> Marketing</option>
              <option value="Networking"> Networking</option>
            </select></td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Larry</td>
            <td>the Bird</td>
            <td><select name="Department" id="" disabled="disabled">
              <option value="design"> Design</option>
              <option value="Project Management"> Project Management</option>
              <option value="Human Resources"> Human Resources</option>
              <option value="Sponsoring"> Sponsoring</option>
              <option value="Marketing"> Marketing</option>
              <option value="Networking"> Networking</option>
            </select></td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td><select name="Department" id="" disabled="disabled">
              <option value="design"> Design</option>
              <option value="Project Management"> Project Management</option>
              <option value="Human Resources"> Human Resources</option>
              <option value="Sponsoring"> Sponsoring</option>
              <option value="Marketing"> Marketing</option>
              <option value="Networking"> Networking</option>
            </select></td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Mark</td>
            <td>Otto</td>
            <td><select name="Department" id="" disabled="disabled">
              <option value="design"> Design</option>
              <option value="Project Management"> Project Management</option>
              <option value="Human Resources"> Human Resources</option>
              <option value="Sponsoring"> Sponsoring</option>
              <option value="Marketing"> Marketing</option>
              <option value="Networking"> Networking</option>
            </select></td>
            <td>6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Mark</td>
            <td>Otto</td>
            <td><select name="Department" id="" disabled="disabled">
              <option value="design"> Design</option>
              <option value="Project Management"> Project Management</option>
              <option value="Human Resources"> Human Resources</option>
              <option value="Sponsoring"> Sponsoring</option>
              <option value="Marketing"> Marketing</option>
              <option value="Networking"> Networking</option>
            </select></td>
            <td>6</td>
          </tr>
          
          
        </tbody>
      </table>
    </div>
    <div class="col-md-6 tab">
      <p>Pending sign-ups</p>
      <table class="table-responsive">
        <thead>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>hello</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" name="" id=""></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="buttons">
    <ul>
      <li><button>Approve</button></li>
      <li><button>Eliminate</button></li>
      <li><button>Send Warning</button></li>
    </ul>
  </div>
</div>
